In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly
import plotly.express as px

# Solucion Reto
## 1. Análisis exploratorio
### 1.1 Integralidad de la información

In [173]:
data = pd.read_csv(r"C:\Users\Usuario\Ciencia de datos\MLPython\python-ml-course-master\datasets\data_prueba", sep ='\t')

Con la finalidad de encontrar nuestra variable objetivo y poder encontrar la demanda diaria, procedemos a transformar la tabla de manera que, agrupado por terminal y por día de la semana, podamos ver cuantas operaciones realiza en un día.

se expandirá la tabla de manera que pueda saber también a que franja horaria pertenece

In [174]:
new = data["fecha"].str.split(" ", n = 1, expand = True) #division de la columna de fecha para obtener fecha y hora
data["fecha1"] = new[0] # Creación columna de fecha
data["fecha"] = pd.to_datetime(data["fecha"]) #transformación de formato de columna a fecha
data['hora'] = data['fecha'].dt.hour # Encontrar la hora, sin minutos ni segundos
data["fecha1"] =  pd.to_datetime(data["fecha1"]) #  transformación de columna de fecha en formato fecha
data['Dia_de_semana'] = data['fecha'].dt.day_name() # encontrar día de la semana


convert_dict ={"idTerminal" : object,
               "oper": object}
data[["idTerminal", "oper"]] = data[["idTerminal", "oper"]].astype(convert_dict)
data.drop(["fecha"], axis=1, inplace =True)

In [175]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775466 entries, 0 to 775465
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   idTerminal     775466 non-null  object
 1   oper           775466 non-null  object
 2   fecha1         775466 non-null  datetime64[ns]
 3   hora           775466 non-null  int64
 4   Dia_de_semana  775466 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 29.6+ MB

El primer paso que realizo es un análisis de los datos, entendiendo de manera adecuada la información que contiene cada una de als columnas, es necesario ajustar el tipo de variable de cada feature para que sea correspondiente con la naturaleza de la columna.

En este caso,la variable fecha, correspondiente a la fehca y hora en la cual se tomó el registro debería estar en formato datetime, IdTerminal, que corresponde a una identificación debería ser tipo object y oper, correspondiente al tipo de operación realizada, también debería ser tipo object

Esta transformación será realizada a continuación

In [176]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 775466 entries, 0 to 775465
Data columns (total 5 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   idTerminal     775466 non-null  object
 1   oper           775466 non-null  object
 2   fecha1         775466 non-null  datetime64[ns]
 3   hora           775466 non-null  int64
 4   Dia_de_semana  775466 non-null  object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 29.6+ MB

En este punto además es necesario conocer si existen datos nulos en el dataset

In [177]:
data.isnull().sum()

idTerminal       0
oper             0
fecha1           0
hora             0
Dia_de_semana    0
dtype: int64

Como se puede obervar, no existen datos nulos en el dataset, por lo tanto, no tendremos que aplicar ninguna transformación de datos para solcionar este problema.

In [178]:
# Explorando los primeros 50 datos para comprobar la integralidad
data.head(50)

   idTerminal oper     fecha1  hora Dia_de_semana
0        1828    0 2017-01-31     8       Tuesday
1        1828    1 2017-01-31     8       Tuesday
2        1828    1 2017-01-31     8       Tuesday
3        1828    1 2017-01-31     8       Tuesday
4        1828    1 2017-01-31     8       Tuesday
5        1593    0 2017-01-31     8       Tuesday
6        1593    1 2017-01-31     8       Tuesday
7        1593    1 2017-01-31     8       Tuesday
8        1746    0 2017-01-31     8       Tuesday
9        1593    1 2017-01-31     8       Tuesday
10       1593    1 2017-01-31     8       Tuesday
11       1746    2 2017-01-31     8       Tuesday
12       1746    2 2017-01-31     8       Tuesday
13       1746    1 2017-01-31     8       Tuesday
14       1593    1 2017-01-31     8       Tuesday
15       1593    1 2017-01-31     8       Tuesday
16       1759    0 2017-01-31     9       Tuesday
17       1746    0 2017-01-31     9       Tuesday
18       1759    0 2017-01-31     9       Tuesday
19       1746    0 2017-01-31     9       Tuesday
20       1759    0 2017-01-31     9       Tuesday
21       1593    3 2017-01-31     9       Tuesday
22       1593    4 2017-01-31     9       Tuesday
23       1593    0 2017-01-31     9       Tuesday
24       1746    0 2017-01-31     9       Tuesday
25       1759    5 2017-01-31     9       Tuesday
26       1746    0 2017-01-31     9       Tuesday
27       1759    3 2017-01-31     9       Tuesday
28       1759    4 2017-01-31     9       Tuesday
29       1746    0 2017-01-31     9       Tuesday
30       1593    3 2017-01-31     9       Tuesday
31       1593    0 2017-01-31     9       Tuesday
32       1828    3 2017-01-31     9       Tuesday
33       1828    0 2017-01-31     9       Tuesday
34       1828    3 2017-01-31     9       Tuesday
35       1828    0 2017-01-31     9       Tuesday
36       1828    1 2017-01-31     9       Tuesday
37       1882    3 2017-01-31     9       Tuesday
38       1882    0 2017-01-31     9       Tuesday
39       1828    6 2017-01-31     9       Tuesday
40       1746    3 2017-01-31     9       Tuesday
41       1746    0 2017-01-31     9       Tuesday
42       1882    0 2017-01-31     9       Tuesday
43       1593    0 2017-01-31     9       Tuesday
44       1746    0 2017-01-31     9       Tuesday
45       1828    0 2017-01-31     9       Tuesday
46       1746    0 2017-01-31     9       Tuesday
47       1828    0 2017-01-31     9       Tuesday
48       1882    7 2017-01-31     9       Tuesday
49       1882    8 2017-01-31     9       Tuesday

In [179]:
# Exploración de los últimos 50 datos para comprobar la integralidad
data.tail(50)

       idTerminal oper     fecha1  hora Dia_de_semana
775416       1971    0 2017-05-31    22     Wednesday
775417       1980    0 2017-05-31    22     Wednesday
775418       1574    0 2017-05-31    22     Wednesday
775419       1574    0 2017-05-31    23     Wednesday
775420       1971    3 2017-05-31    23     Wednesday
775421       1971    0 2017-05-31    23     Wednesday
775422       1980    0 2017-05-31    23     Wednesday
775423       1574    0 2017-05-31    23     Wednesday
775424       1980    0 2017-05-31    23     Wednesday
775425       1574    1 2017-05-31    23     Wednesday
775426       1971    3 2017-05-31    23     Wednesday
775427       1971    0 2017-05-31    23     Wednesday
775428       1971    3 2017-05-31    23     Wednesday
775429       1971    0 2017-05-31    23     Wednesday
775430       1971    3 2017-05-31    23     Wednesday
775431       1971    0 2017-05-31    23     Wednesday
775432       1964    0 2017-05-31    23     Wednesday
775433       1964    0 2017-05-31    23     Wednesday
775434       1971    0 2017-05-31    23     Wednesday
775435       1971   12 2017-05-31    23     Wednesday
775436       1971   12 2017-05-31    23     Wednesday
775437       1971    0 2017-05-31    23     Wednesday
775438       1964    0 2017-05-31    23     Wednesday
775439       1964    0 2017-05-31    23     Wednesday
775440       1574    3 2017-05-31    23     Wednesday
775441       1574    0 2017-05-31    23     Wednesday
775442       1980    0 2017-05-31    23     Wednesday
775443       1980    3 2017-05-31    23     Wednesday
775444       1980    4 2017-05-31    23     Wednesday
775445       1774   10 2017-05-31    23     Wednesday
775446       1980    3 2017-05-31    23     Wednesday
775447       1980    0 2017-05-31    23     Wednesday
775448       1774    7 2017-05-31    23     Wednesday
775449       1980    3 2017-05-31    23     Wednesday
775450       1980    4 2017-05-31    23     Wednesday
775451       1882    0 2017-05-31    23     Wednesday
775452       1882    0 2017-05-31    23     Wednesday
775453       1964    0 2017-05-31    23     Wednesday
775454       1910    0 2017-05-31    23     Wednesday
775455       1994    3 2017-05-31    23     Wednesday
775456       1864    1 2017-05-31    23     Wednesday
775457       1994    0 2017-05-31    23     Wednesday
775458       1994    0 2017-05-31    23     Wednesday
775459       1971    0 2017-05-31    23     Wednesday
775460       1971    1 2017-05-31    23     Wednesday
775461       1980    7 2017-05-31    23     Wednesday
775462       1980    7 2017-05-31    23     Wednesday
775463       1964    4 2017-05-31    23     Wednesday
775464       1964    0 2017-05-31    23     Wednesday
775465       1882    0 2017-05-31    23     Wednesday